*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* backround color */
.bg-light{
    background-color: rgba(221, 255, 14, 0.1);
}
/* dark 01 */
.text-dark-gray{
    color: #131313;
}

/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03*/
.text-light-gray{
    color: #727272;
}

/* btn-primary */
.btn-primary{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin: 20px 0 30px 0;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style */
.navbar ,.banner{
  max-width: 1440px;
  margin: 0px auto;

}
.navbar{
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-link{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.brand{
    font-weight: bold;
    font-size: 2.8rem;
}

/* Banner */
.banner{
    text-align: center;
}
.banner-title{
    font-size: 64px;
    font-weight: bold;
    padding-top: 100px;
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    padding-top: 20px;

}
.banner img{
    margin-bottom: 45px;
}

/* main section style */

/* team section style */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 85px;
}
.our-features{
    margin-left: 73px;
}
.quick-style{
    font-weight: 400;
    color: #727272;
    
}

.feature-title{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 24px;
    
}
.feature-style{
    font-weight: bold;
    color: #FF900E;
}

.feature-description{
    font-size: 1rem;
    margin-bottom: 32px;
    line-height: 2rem;
}

/* enjoy section style */
.enjoy-container{
    display: flex;
    gap: 96px;
    margin-top: 130px;
}

.enjoy-title{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}
.enjoy-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 24px;

}

.enjoy-card{
    width: 550px;
    height: 170px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 30px #00000021;
    margin-top: 30px;
    padding: 30px;
}
.enjoy-card-title{
    font-size: 20px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 10px;
    
}

.enjoy-card-description{
    font-size:16px ;
    font-weight: 400;
    color: #727272;
}
#Experience-badge{
    width: 300px;
    height: 200px;
   margin-left: -75px;
   margin-top: -100px;
}

#Experience-year{
    font-size: 65px;
    font-weight: bold;
    color: #ffffff;
}
.Experience-title{
    font-size: 25px;
    font-weight: 400;
}

/* facts section style*/
.facts-title{
    font-size: 45px;
    font-weight: bold;
    margin-top: 130px;
}

.fact-desctiption{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 20px;
    line-height: 25px;
}

/* some fact style */

.facts-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 95px;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 242px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 45px;
    font-weight: bold;
    color: #424242;
    margin-top: 10px;
}
.fact-name{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    margin-top: 8px;
}
/* sponspors style */
.sponspors-container{
    text-align: center;
    margin-top: 180px;
}
.sponspors-title{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
.sponspors-descripion{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 50px;

}

.sponspors-img{
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    
}
/* all tight style */
.all-right{
    margin-top: 170px;
    text-align: center;
    background-color: #FFF4E7;
    margin-bottom: 216px;
    padding: 40px ;
}

.all-right-desctiption{
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}



/* responsive media query */

@media screen  and (max-width: 576px) {
    .navbar , .banner, .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 10px;
    }
}